html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button { margin:0; padding:0; }
html { background-color:#f3f3f3 !important; }
body { background-color:#f3f3f3 !important; font-size:12px; line-height:1.5; font-family:Tahoma,Simsun,sans-serif; color:#333; }
img, fieldset { margin:0; padding:0; border:0; }
input, textarea { font-size:12px; }
table { border-collapse:collapse; }
a { color:#0a83ff; text-decoration:none; outline:none; }
a:hover { text-decoration:underline; }
h1, h2, h3, h4, h5 {font-family: 'microsoft yahei', simsun, sans-serif; font-weight: normal; }
ul li, ol li { list-style:none; }
dfn { font:normal 12px Arial; }
section { display:block; }
.layoutfix { display:inline-block; }
.layoutfix { display:block; overflow:hidden; }
.basefix { *zoom:1; }
.basefix:after { clear:both; content:'.'; display:block; height:0; overflow:hidden; }
.base_warning { color:#d81921; font:normal 12px Simsun; }
.float_left { float:left !important; }
.float_right { float:right !important; }
.base_txtgray { color:#999; }
.invisible { visibility:hidden !important; }
.hidden { display:none !important; }
.base_txtdiv { border-bottom:1px dashed #16B; cursor:pointer; }
.text_right { text-align:right !important; }
.border_none { border:0 none !important; }
.fs12{font-size: 12px;}

/* head width */
.cui_hd, .cui_nav{width:1180px;}

/*structure start*/
#base_bd{width:1180px; margin:0 auto; padding:0 10px; *zoom:1;}
/*footer*/
.base_ft_wrap{border-top:1px dashed #9eccf5;padding-top:18px;}
p.copyright{font-family:Verdana,simsun,sans-serif;}
/*structure end*/

/* =s medals */
.hotel_goldmedal,.hotel_silvermedal,.hotel_bluemedal,.hotel_strategymedal{display:inline-block;width:20px;height:20px;background:url(http://pic.c-ctrip.com/hotelcommon/icon_hotel7.png) no-repeat;}
.hotel_goldmedal{background-position:-34px -27px;}
.hotel_silvermedal{background-position:-66px -27px;}
.hotel_bluemedal{background-position:-98px -27px;}
.hotel_strategymedal{width:22px;height:22px;background-position:0 -27px;}
/* =e medals */

/*  buttons */
/* =S btns */
.btn{display:inline-block;width:95px;height:36px;background-color:#ffa200;line-height:36px;text-align:center;color:#fff;font-size:15px;font-family:'microsoft yahei',simsun,sans-serif;border-radius:3px;}
.btn:hover{background-color:#ffb533;text-decoration:none;}
.btn_primary{background-color:#27c;}
.btn_primary:hover{background-color:#29f;}
.btn_mini{width:53px;height:26px;line-height:26px;font-family:simhei,sans-serif;font-size:12px;}
/* =E btns */
/*  buttons */

/* icons S */
.ico_quotes_l,
.ico_quotes_r,
.ico_list_prev,
.ico_list_next{
    display: inline-block;
    background-image: url("../img/un_boss_topic.png");
    vertical-align: middle;
}
.ico_quotes_l,
.ico_quotes_r{
    position: absolute;
    width: 41px; height: 36px;
}
.ico_quotes_l{
    left: -78px; top: -33px;
}
.ico_quotes_r{
    right: -78px;
    background-position: -47px 0;
}
.ico_list_prev,
.ico_list_next{
    width: 32px; height: 57px;
    cursor: pointer;
}
.ico_list_prev{
    background-position: -93px 0;
}
.ico_list_next{
    background-position: -129px 0;
}
/* icons E*/
.boss_topic_wrap{
}
.boss_info_wrap{
    padding-bottom: 32px; margin-bottom: 10px;
    background-color: #fff;
}
.topic_banner{
    height: 210px; margin-bottom: 50px;
    background: url("../img/img_boss_topic_banner.png") 0 0; color: #fff;
}
.topic_banner .topic_banner_filter_wrap{
    width: 676px; height: 100%;
    background-color: rgba(0,0,0,.3);
}
.topic_banner .boss_img{
    float: left; width: 188px; height: 188px; border: 8px solid #fff; margin: 40px 0 0 60px;
}
.topic_banner .story{
    float: left; margin: 65px 0 0 30px;
}
.topic_banner .story_tit{
    font-size: 18px; font-family: 'microsoft yahei', simsun, sans-serif;
}
.topic_banner .story_tit .story_date{
    color: #acacac;
}
.topic_banner .name,
.topic_banner .info_wrap{
    float: left;
}
.topic_banner .name{
    margin-right: 30px;
    font-size: 48px; font-family: 'microsoft yahei', simsun, sans-serif;
}
.topic_banner .info_wrap{
    width: 170px; margin-top: 11px;
    line-height: 26px; font-size: 14px;
}
.story_detail_wrap{
    margin: 0 60px 10px; padding: 18px 0;
    background-color: #f4f4f4;
}
.story_detail_tit{
    margin: 0 0 16px 20px;
    font-size: 26px;
}
.story_detail_txt_wrap{
    padding: 0 40px; margin-bottom: 16px;
    font-size: 14px; line-height: 30px;
}
.story_detail_txt_wrap .first_word{
    float: left; width: 60px; height: 55px;
    color: #46a0fc;
    line-height: 55px; text-align: center; font-family: 'microsoft yahei', simsun, sans-serif; font-size: 46px;
}
.story_detail_wrap .story_detail_pic_list{
    margin-left: 20px;
}
.story_detail_wrap .story_detail_pic_list li{
    float: left; display: inline; margin: 0 0 20px 20px;
}
.story_review_wrap{
    padding: 17px 108px; margin: 0 60px 10px;
    background-color: #f4f4f4;
    font-size: 14px;
}
.story_review_wrap .story_review_tit{
    margin-bottom: 6px;
    color: #666;
    font-size: 18px;
}
.story_review_wrap .story_review_txt_wrap{
    position: relative; margin-bottom: 11px; *zoom: 1;
}
.htl_info_wrap{
    padding: 21px 60px 42px; margin-bottom: 23px;
    background-color: #fff;
}
.htl_info_wrap .cn_name,
.htl_info_wrap .en_name{
    display: inline;
    font-weight: normal;
}
.htl_info_wrap .cn_name {
    margin-right: 12px;
    font-family: "microsoft yahei",simsun;
    font-size: 26px;
}
.htl_info_wrap .en_name {
    margin-right: 6px;
    color: #666;
    font-family: tahoma,Arial;
    font-size: 16px;
}
.ico_wifi,.ico_wifi_free,.ico_airport_shuttle,.ico_airport_shuttle_free,.ico_hot_water,.ico_toilet,.hotel_num,.ico_unfavorite,.ico_favorite,.ico_next,.ico_preview,.htl_noprice .i,.filter_item .filter_item_packup i,.filter_item .filter_item_more i,.ui-link-more i,.icon_desc_text,.side_map .tool_box .map_link,.c_sort_twoway i,.search_noresult .ico_alert,.hotel_roompic,h2.title4 span{background-image:url(http://pic.c-ctrip.com/hotels121118/inn_icon.png);background-repeat:no-repeat;}
.ico_wifi,.ico_wifi_free,.ico_airport_shuttle,.ico_airport_shuttle_free,.ico_hot_water,.ico_toilet{display:inline-block;width:26px;height:26px;vertical-align:middle;}
.ico_wifi_free,.ico_airport_shuttle_free{height:33px;}
.ico_wifi,.ico_wifi_free{background-position:-30px 0;}
.ico_airport_shuttle,.ico_airport_shuttle_free{background-position:-60px 0;}
.ico_hot_water{background-position:-30px -40px;}
.ico_toilet{background-position:-60px -40px;}
.other_info_wrap .ico_wifi,
.other_info_wrap .ico_wifi_free,
.other_info_wrap .ico_airport_shuttle,
.other_info_wrap .ico_airport_shuttle_free,
.other_info_wrap .ico_hot_water,
.other_info_wrap .ico_toilet{
    margin-right: 5px;
    vertical-align: -5px;
}
.htl_info_wrap .htl_name{
    margin-bottom: 7px;
}
.htl_info_wrap .other_info_wrap{
    margin-bottom: 10px;
}
.htl_info_wrap .level{
    display: inline; margin-left: 14px;
    color: #0a83ff;
}
.htl_info_wrap .level .num{
    font-family: tahoma, Arial; font-size: 24px;
}
.htl_info_wrap .htl_comments{
    margin-left: 4px;
}
.htl_info_wrap .desc_wrap{
    padding-bottom: 11px; border-bottom: 3px solid #f4f4f4;
}
.htl_info_wrap .desc{
    margin-bottom: 3px;
    color: #999;
}
.htl_info_wrap .btn_booking{
    float: right;
}
.htl_info_wrap .htl_pic_list{
    margin-left: -20px; padding-top: 20px;
}
.htl_info_wrap .htl_pic_list li{
    float: left; display: inline; width: 340px; height: 255px; margin-left: 20px; overflow: hidden;
}
.htl_info_wrap .htl_pic_list li img{
    width: 100%;
}
.past_boss_history{
    margin-bottom: 45px;
}
.past_boss_history .past_boss_history_tit{
    margin-bottom: 20px;
    font-size: 20px; font-family: 'microsoft yahei', simsun, sans-serif;
}
.past_boss_history .past_boss_history_list_wrap{
    position: relative; padding: 0 87px; *zoom: 1;
}
.past_boss_history .past_boss_history_list{
    width: 100%; overflow: hidden;
    background-color: #f3f3f3;
}
.past_boss_history_inner_list{
    width: 3000px;
}
.past_boss_history .past_boss_history_item{
    float: left; width: 180px; padding: 10px; margin-right: 68px;
    background-color: #fff;
}
.past_boss_history .past_boss_history_item img{
    display: block; margin-bottom: 11px;
}
.past_boss_history .past_boss_history_item .boss_name{
    margin-bottom: 3px;
    font-size: 16px;
}
.past_boss_history .past_boss_history_item .boss_info{

}
.past_boss_history .past_boss_history_item .boss_info_item{
    margin-right: 14px;
    color: #666;
}
.past_boss_history .ico_list_prev,
.past_boss_history .ico_list_next{
    position: absolute; top: 50%;
    margin-top: -28.5px;
}
.past_boss_history .ico_list_prev{
    left: 16px;
}
.past_boss_history .ico_list_next{
    right: 16px;
}
/* seoblock_201205 begin */
.seo_201305 { clear:both; margin-bottom:30px; padding:10px 15px; border:2px solid #DEDEDE; color:#999;  line-height:2;}
.seo_201305 a { color:#999; }
.seo_201305 h4{ font-size:12px; font-weight:bold; color:#666;}
.seo_201305 .p { margin-bottom:10px;}
.seo_201305 .seo_hot{height:24px; margin-right:-5px; padding-left:123px; display:block; overflow:hidden; *zoom:1;}
.seo_201305 .seo_hot dt,.seo_201305 .seo_hot li h5{ float:left; display:inline; width:123px; margin-left:-123px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.seo_201305 .seo_hot dd { float:left; width:84px; margin-right:5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.seo_201305 .seo_hot .black { color:#333; }
.seo_201305 .seo_more{margin-left:20px;}
.seo_201305 .seo_line{height:0; overflow:hidden; border-bottom:1px dotted #ccc; margin:5px 0;}
.seo_201305 .seo_booking dd{width:auto; margin-right:50px;}
.seo_201305 .sta_unfold,.seo_201305 .sta_unfold .seo_hott{height:auto;}
.seo_201305 .sec_item{position:relative; *zoom:1;}
.seo_201305 .sec_item .ico_fold{display: block;}
.seo_201305 .sec_item .ico_unfold{display: none;}
.seo_201305 .si_open .seo_hot{height: auto;}
.seo_201305 .si_open .ico_fold{display: none;}
.seo_201305 .si_open .ico_unfold{display: block;}
.seo_201305 .sec_new{display:none;}
.seo_201305 .sec_new .sec_new_more{ margin-left: 30px; display: inline-block;}
.seo_201305 .sec_new .seo_hot{height:auto; margin:3px 0;}
.seo_201305 .sec_new .seo_hot strong,.seo_201305 .seo_hot h5{font-weight:normal;}
.seo_201305 .ico_fold,.seo_201305 .ico_unfold{background:#f7f7f7; height:9px; width:9px; line-height:9px; text-align:center; border:1px solid #ccc; overflow:hidden; position:absolute; top:6px; right:5px; font-family:arial; text-decoration:none; color:#ccc;}
.seo_201305 .ico_unfold{display:none;}
.seo_201305 .sta_unfold .ico_unfold,.seo_201305 .sta_unfold .seo_sub,.seo_201305 .sta_unfold .sec_new{display:block;}
.seo_201305 .sta_unfold .ico_fold,.seo_201305 .sta_unfold .seo_location{display:none;}
.seo_201305 .sta_unfold .seo_hot{height:auto;}
/* seoblock_201205 end */


@media \0screen\,screen\9 {
    .topic_banner .topic_banner_filter_wrap{
            filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#4b000000', endColorstr = '#4b000000' );
    }
}

/* ie8 & <l200 add class="ie8w980" to body or html label,ie6/7 use 1180 version directly */
.ie8w980 .cui_hd,
.ie8w980 .cui_nav,
.ie8w980 #base_bd{
    width:980px!important;
}
.ie8w980 .htl_info_wrap .htl_pic_list li{
    width: 273px; height: 205px;
}
.ie8w980 .past_boss_history .past_boss_history_list{
    margin: 0 67px;
}
.ie8w980 .past_boss_history .past_boss_history_item{
    margin-right: 12px;
}

@media screen and (max-width:1200px){
    .cui_hd,
    .cui_nav,
    #base_bd{
        width:980px!important;
    }
    .htl_info_wrap .htl_pic_list li{
        width: 273px; height: 205px;
    }
    .past_boss_history .past_boss_history_list{
        margin: 0 67px;
    }
    .past_boss_history .past_boss_history_item{
        margin-right: 12px;
    }
}